:root {
  --white: #ffffff;
  --gray: #cecaca;
  --orange: #ff4b33;
  --black: #000000;
  --sky: #87cefa;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 60px;
}

.flex {
  display: flex;
}
.bootstrap{
  font-family: bootstrap-icons;
  color: var(--orange);
  font-size: 1.5rem;
}
ul li {
  list-style: none;
}
.effect{
  transition: all 0.5s;
  cursor:pointer;
}
.effect:hover{
  background-color: var(--orange);
}
/* navigation bar1 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 12px 0;
  z-index: 20;
}
.nav1 {
  justify-content: space-between;
}
.email-box {
  width: 35%;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
}
.email-1 {
  align-items: center;
  white-space: nowrap;
  /* width:50%; */
}

.email-2 {
  white-space: nowrap;
  align-items: center;
  /* width:50%; */
}
.email-1 span,
.email-2 span {
  color: black;
  padding-left: 10px;
  font-size: 16px;
}
.social {
  margin-left: auto;
  justify-content: space-between;
}
.social-1 {
  margin-right: 10px;
  list-style: none;
  gap: 10px;
}
.social-1 li {
  background-color: var(--gray);
  font-size: 1rem;
  color: var(--white);
  padding: 8px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .email-box {
    /* width:100%; */
    gap: 20px;
  }
  .email-1,
  .email-2 {
    justify-content: center;
  }
  .social-1 {
    gap: 5px;
  }
}
@media (max-width: 600px) {
  .social-1 li {
    font-size: 0.8rem;
  }
  .email-1,
  .email-2 {
    font-size: 16px;
  }
  .email-1 span,
  .email-2 span {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .email-box {
    gap: 5px;
  }
  .social-1 {
    font-size: 0.7rem;
    margin-right: 0;
  }
  .email-1 span,
  .email-2 span {
    padding-left: 5px;
  }
  .social-1 li {
    padding: 5px;
  }
}
@media (max-width: 405px) {
  .email-box {
    gap: 3px;
  }
  .social-1 {
    font-size: 0.5rem;
  }
  .social-1 li {
    padding: 3px;
    font-size: 0.6rem;
  }
  .email-1 span,
  .email-2 span {
    padding-left: 3px;
  }
}
@media (max-width: 426px) {
  .email-box {
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
  .email-1 span,
  .email-2 span {
    padding-left: 5px;
    font-size: 11px;
  }
}
@media (max-width: 375px) {
  .nav1 {
    flex-direction: column;
    justify-content: center;
  }
  .social {
    margin: 0 auto;
    margin-top: 10px;
  }
  .email-box {
    justify-content: space-between;
  }
}

/* navigation bar2 */
.navbar2 {
  position: fixed;
  background-color: var(--white);
  top: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  z-index: 10;
}
.nav2 {
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.name {
  font-size: 36px;
}
.name a {
  text-decoration: none;
  color: var(--black);
  font-weight: 800;
}
.list {
  align-items: center;
  justify-content: space-between;
}
.list-1 {
  gap: 30px;
  margin-right: 16px;
  font-size: 16px;
}
.list-1 li {
  white-space: nowrap;
  padding: 0 30px;
  line-height: 1.5;
  transition: all 0.5s;
  cursor: pointer;
}
.list-1 li:hover {
  color: var(--orange);
}
.schedule {
  align-items: center;
  background-color: var(--black);
  border-radius: 50px;
  padding: 1px 16px;
  color: var(--white);
  justify-content: space-between;
  white-space: nowrap;
  margin-right: 10px;
  cursor: pointer;
}
.date {
  background-color: var(--orange);
  height: 35px;
  width: 35px;
  font-size: 12px;
  color: white;
  margin-right: 5px;
  border-radius: 50px;
  margin-left: -20px;
  align-items: center;
  justify-content: center;
}
.toggle {
  display: none;
  margin-right: 10px;
}
.one {
  height: 3px;
  width: 1.56rem;
  margin: 2px;
  border-radius: 5px;
  background-color: var(--black);
}

@media (max-width: 1350px) {
  .list-1 {
    gap: 20px;
  }
}
@media (max-width: 1250px) {
  .list-1 {
    gap: 0px;
  }
}
@media (max-width: 1022px) {
  .toggle {
    display: flex;
    flex-direction: column;
  }
  .list-1 {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav2 {
    padding: 10px 0;
  }
  .navbar2 {
    padding-top: 60px;
  }
}
@media (max-width: 426px) {
  .navbar2 {
    padding-top: 40px;
  }

  .name {
    font-size: 1rem;
    margin-left: 12px;
  }
  .schedule {
    padding: 0px 10px;
  }
  .schedule .date {
    font-size: 10px;
  }
  .schedule p {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .navbar2 {
    padding-top: 60px;
  }
  .name {
    margin-left: 2px;
  }
}
/* hero section */
.hero {
  position: relative;
  background-image: url(vu-anh-TiVPTYCG_3E-unsplash.jpg);
  max-width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
}
.hero-1 {
  max-width: 75%;
  margin: 0 auto;
}
.hero-2 {
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
}
.button {
  align-self: flex-start;
  background-color: var(--white);
  height: 30px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  font-size: 1rem;
  padding: 0 10px;
  margin-bottom: 20px;
}
.button span {
  margin-left: 5px;
  color: var(--orange);
}
.hero-data {
  font-size: 3rem;
  color: var(--white);
  font-weight: 900;
}

@media (max-width: 570px) {
  .hero {
    height: 90vh;
  }
  .hero-1 {
    padding-top: 20px;
  }
  .hero-data {
    font-size: 2rem;
  }
}
@media (max-width: 425px) {
  .hero {
    height: 80vh;
  }
  .hero-data {
    font-size: 1.5rem;
  }
}
@media (max-width: 376px) {
  .hero {
    height: 70vh;
  }
  .hero-data {
    font-size: 1.25rem;
  }
}
@media (max-width: 325px) {
  .hero {
    height: 60vh;
  }
  .hero-data {
    font-size: 1rem;
  }
}

/* ++++++++++++++++++++++++++++++++++ */
.card-1 {
  padding: 100px 0;
}
.about {
  height: 100vh;
}
.cards {
  max-height: 100%;
  /* gap: 10px; */
}
.decoration {
  position: relative;
  width: 30%;
  max-height: 50%;
  justify-content:center;
  margin: 0 auto;
}
.photo {
  height: fit-content;
  /* padding-bottom: 50px; */
  padding-top: 0;
  position: relative;
  max-width: 100%;
}
.photo img {
  max-width: 100%;
  height: 61vh;
  object-fit: cover;
  /* position: relative; */
}

.qwert {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  background-color: var(--orange);
  height: 70px;
  width: 70px;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  color: var(--white);
  left:2%;
  transform: translate(-50%, 50%);
}

.card-data {
  /* padding: 0 12px; */
  flex-direction: column;
  width: 40%;
}
.card-data-1 > p {
  padding-left: 10px;
  font-size: 1rem;
  color: var(--orange);
  border-left: 2px solid var(--orange);
  font-weight: 800;
}
.best-1 {
  font-size: 2rem;
  margin: 10px 0;
  font-weight: 900;
}
.best-1 p {
  margin: 10px 0;
}
.card-data-2 {
  width: 85%;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(244, 244, 242);
  padding: 12px;
  margin-top: 20px;
  /* margin-bottom: 0; */
}
.card-data-2 span {
  color: var(--orange);
  font-size: 1.2rem;
  padding-bottom: 10px;
  font-weight: 500;
}
.best-2 {
  margin-top: 20px;
  border-top: 0.5px solid rgb(229, 229, 229);
  font-size: 1.1rem;
}
.best-2 .p-1 {
  margin-top: 20px;
}
.p-1 a {
  text-decoration: none;
}
.best-2 .p-2 {
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 0.2px solid rgb(229, 229, 229);
}
.best-2 .p-3 {
  margin-top: 20px;
  padding-bottom: 10px;
}
.feature {
  width: 26%;
  flex-direction: column;
  border-radius: 10px;
  box-shadow:  0px 0px 13px rgba(0, 0, 0, 0.4);
  padding: 0 50px;
  height: auto;
  margin: auto 0;
  margin-top: 0;
}
.feature-1 {
  margin-top: 20px;
  padding-bottom: 10px;
}
.feature-4 {
  padding-bottom: 20px;
}
.feature-1,
.feature-2,
.feature-3 {
  border-bottom: 0.3px solid rgb(229, 229, 229);
  padding-bottom: 20px;
}

.feature-3,
.feature-4 {
  margin-top: 30px;
}
.feature-2{
    margin-top: 20px;
}
.feature-icon {
  font-size: 3rem;
}
.feature-data {
  flex-direction: column;
  justify-content: center;
}
.feature-data > span > strong {
  font-size: 1.3rem;
}
.feature-data:nth-child(2) {
  margin-left: 20px;
}
@media (max-width:1024px){
    .feature{
        padding:0;
    }
}
@media (max-width: 991px) {
  .card-data {
    flex-direction: column;
    margin-top: 30px;
    padding:0 12px;
  }
  .cards {
    flex-direction: column;
    gap: 30px;
  }
  .decoration,
  .card-data,
  .feature {
    width: 100%;
  }
  .card-1 {
    padding: 50px 0;
  }
  .feature-1,.feature-2,.feature-3 ,.feature-4{
    padding-left: 20px;
  }
}
@media (max-width: 769px) {
  .card-data {
    padding: 0;
  }
  .feature-icon {
    font-size: 3.5rem;
  }
  .feature-data >span >strong{
    font-size:18px;
  }
  .feature-description{
    font-size:15px ;
  }
}
@media (max-width:500px){
 .qwert {
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    margin-left: 14px;
    left:2%;
  }
}
@media (max-width: 426px) {
  .best-1 {
    font-size: 1.5rem;
  }
  .feature-icon {
    font-size: 2.5rem;
  }
   .feature-data >span >strong{
    font-size:16px;
  }
  .feature-description{
    font-size:12px ;
  }
}
@media (max-width: 376px) {
  .qwert {
    height: 40px;
    width: 40px;
    font-size: 1.25rem;
    margin-left: 16px;
  }
  .feature-icon {
    font-size: 1.5rem;
  }
   .feature-data >span >strong{
    font-size:13px;
  }
  .feature-description{
    font-size:10px ;
  }
}


/* +++++++++++ video +++++++++++ */
.video{
    width:100%;
    height:100vh;
}
.video-data span{
    border-left:2px solid var(--orange);
    padding-left: 5px;
    color: var(--orange);
    align-self: center;
    font-size: 12px;
    font-weight:500;
}
.video-data .p-1 , .video-data .p-2{
font-size: 2rem;
color:var(--white);
font-weight: 800;
}
.p-1{
    margin-top: 20px;
}
.p-2{
    margin-top: 5px;
}
.video-image{
    position: relative;
    width:100%;
    height:60%;
}
.video-image img{
    /* position: absolute; */
    height:100%;
    width:100%;
    filter:blur(5px);
}
.video-data{
    position: absolute;
    top: 50%;
    left:50%;
    flex-direction: column;
    margin-top: 10px;
    transform:translate(-50% , -50%);
    align-items: center;
    width:100%;

}
.intro{
    margin-top: 300px;
}
.v-intro{
    margin-top: 50px;
    width:100%;
}
.v-intro iframe{
  width:70%;
  height:50vh;
  margin:0 auto;
  border-radius: 10px;
}
/* iframe{
    border-radius: 10px;
    width: 60vw;
    height:50vh;
} */
.facilities{
  justify-content: space-around;
  width:100%;
  margin-top: 50px;
}
.num{
  font-size: 2rem;
  color:var(--orange);
  font-weight: 800;
}
.build{
  position: relative;
  /* max-width: 30%; */
  background-color:#ffd5cf;
  padding:15px 30px;
  border-radius: 10px;
  margin: 0 -50px;
      width: fit-content;
}
.build .flex{
  flex-direction: column;
  justify-content:center;
}
.build .flex span{
  padding:0;
  border: none;
  align-self: flex-start;
  margin-left: 20px;
  color:var(--black);
  font-size: 1rem;
}
.circle{
  position: absolute;
  height:30px;
  width:30px;
  background-color: var(--orange);
 right:0; 
 border-radius: 100px;
 transform: translate(50%,-100%)
}
@media(max-width:769px){
  .video-image img{
    height:90%;
  }
  .intro{
    margin-top: 200px;
  }
  .build{
    padding:15px 10px;
  }
  .video-data{
    margin-top: 50px;
  }
  
}
@media( max-width:700px){
  .build{
    flex-direction: column;
    align-items: flex-start;
  }
  .build .flex span{
    margin: 0;
  }
}
@media(max-width:537px){
  .video-data{
    margin-top: 60px;
  }
  .facilities{
    margin-top: 24px;
  }
   .video-data .p-1 ,.video-data .p-2{
      font-size: 1.5rem;
    }
}
@media (max-width:500px){
   .v-intro iframe{
      height:30vh;
      width:90%;
    }
    .video{
      height:72vh;
    }
}
@media(max-width:426px){
    .video-data .p-1 ,.video-data .p-2{
        font-size: 1.5rem;
    }
    .video{
      height:75vh;
    }
   
    .v-intro iframe{
      height:30vh;
      width:90%;
    }
    .intro{
      margin-top: 100px;
    }
    .video-image{
      height:60%;
    }
    .build{
      flex-direction: column;
      align-items: flex-start;
      padding:15px 5px;
    }
  .build .flex span{
    margin: 0;
  }
  .num{
    font-size: 1.5rem;
  }
}
@media (max-width:376px){
    .video-data .p-1 ,.video-data .p-2{
        font-size: 1rem;
    }
    .intro{
      margin-top: 50px;
    }
}
@media(max-width:325px){
  .build{
    padding:15px 0;
  }
}
/* +++++++++++++++++++ */
.info{ 
  margin-top: 20px;
  background-color: rgb(243, 251, 253);
  padding:50px 0;
  width:100%;
}
.info-1{
  justify-content: space-between;
  padding:25px 0;
  width:100%;
}
.data-1 span{
  color:var(--orange);
  border-left:2px solid var(--orange);
  padding-left: 5px;
  font-weight: 700;
  font-size: 12px;
}
.data-1 p{
  font-size: 2rem;
  font-weight: 700;
}
.p1-data1{
  margin-top: 20px;
}
.p1-data2{
  margin-top: 5px;

}
.info-button{
  align-self: flex-end;
  gap:10px;
  width:50%;
  justify-content: flex-end;
}
.info-button li{
  width:25%;
}
.info-button li button{
  width:100%;
  padding:15px 10px;
  border-radius: 10px;
  color:var(--white);
  border:none;
  white-space: nowrap;
  font-size: 1rem;
}
.button-1{
  background-color: var(--orange);
}
.button-2{
  background-color: var(--black);
}
.card-2{
  margin-top:50px;
  width:100%;
  gap:50px;
}
.card-2-data{
  width:25%;
  background-color: var(--white);
  border-radius:20px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.4);
  margin-bottom: 150px;
}
.card-2-data .flex .gray{
  color:var(--gray);
  font-weight: 500;
}
.card-2-data .flex strong{
  font-size: 1.2rem;
}
.card-2-data >p{
  padding:20px 30px;
 justify-content: space-between;
 align-items: center;
}

.card-2-photo{
  width:50%;
  max-height:50%;
}
.card-2-photo img{
  width: 100%;
  height:53vh;
  object-fit: cover;
}
.card-2-info{
  width:25%;
}
.card-2-info .info-p1{
  margin-top: 30px;
  line-height: 1.5;
   color: rgb(105, 105, 105);
    font-weight: 500;

}
.card-2-info .info-p2{
  margin-top: 30px;
  line-height: 1.5;
  color: rgb(105, 105, 105);
    font-weight: 500;
    padding: 5px;
}
.card-2-info .schedule{
  width: 60%;
  margin-top: 20px;
  justify-content: flex-start;
}
@media (max-width:1286px) and (min-width:1024px){
  .card-2-info .schedule{
    width:auto;
  }
}
@media (max-width:1024px){
  .card-2-info .schedule{
    width:100%;
  }
  .card-2-info .info-p1 ,.card-2-info .info-p2{
    margin-top: 20px;
    line-height: 1;
  }
  .card-2 .card-2-data p{
    padding:20px;
  }
}
@media (max-width:768px){
  .card-2-info .schedule{
    width:28%;
  }
}
@media(max-width:875px){
  .data-1 p{
    font-size:1.5rem;
  }
  .info-button{
    justify-content: space-between;
    gap:5px
  }
  .info-1{
    flex-direction: column;
  }
  .info-button{
    justify-content: flex-start;
    width:100%;
    margin-top: 10px;
  }
  .info-button li button {
    padding:10px 5px;
  }
  .info-button li{
    margin:0 5px;
    width:auto;
  }
  .card-2{
    flex-direction: column;
    align-items: center;
  }
  .card-2-data{
    width:50%;
    margin-bottom: 0;
  }
  .card-2-info ,.card-2-photo{
    width:100%;
  }
  .card-2-info .schedule{
    margin-left: 10px;
    margin-top: 10px;
    width:40%;
  }
  .card-2-data>p{
    padding:0 12px;
  }
}
@media (max-width:500px){
      .card-2-data{
        width:100%;
      }
}
@media(max-width:426px){
  .info{
    padding: 25px 0;
  }
  .data-1 p{
    font-size: 1rem;
  }
  
  .card-2-data >p{
    padding:30px;
  }
}
/* ++++++++++++++++++++++++ */
.property{
  padding:100px 0;
  width:100%;
}
.content{
  max-width:100%;
  margin:0 auto;
  text-align: center;
}

.content span{
  font-size: 12px;
  color:var(--orange);
  border-left: 2px solid var(--orange);
  padding-left:5px;
  font-weight: 600;
}

.content p{
  font-size: 2rem;
  font-weight: 700
}
.content .content-p1{
  margin-top: 20px;
}
.content .content-p2, .content .content-p3{
  margin-top: 10px;
}
.villas{
  margin-top: 50px;
  width:100%;
  justify-content: space-between;
}
.villa1{
  width:30%;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgb(251, 248, 248);
}
.villa1-inner{
  max-width:80%;
  margin:0 auto;
}
.villa-photo{
  max-width:100%;
  margin: auto;
  padding:12px 0;
}
.villa-photo img{
  max-width:100%;
  height:auto;
  object-fit: cover;
  border-radius:10px;
}
.villa-data{
  max-width:100%;
  flex-direction: column;
}
.villa-name{
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.luxery{
background-color:#f9b9b0;
font-size: .9rem;

padding:5px 10px;
vertical-align: middle;
border-radius: 5px;
}
.price{
  color:var(--orange);
  font-weight: 800;
}
.villa-data .addres{
  font-weight: 700;
  margin-top: 20px;
}
.villa-data .flex{
  gap:16px;
}
.details-1{
  margin-top: 20px;
}
.details-2{
  margin-top: 10px;
  padding-bottom: 30px;
  border-bottom: 0.2px solid #d6c3c3;
  align-items: flex-end;
}
.visit{
  background-color: var(--black);
  color:var(--white);
  padding:10px 30px;
  border-radius: 20px;
  max-width:70%;
  margin:30px auto;
  cursor:pointer;
  transition: all 0.5s;
}
.visit:hover{
  background-color: var(--orange);
}
@media(max-width:874px){
  .villas{
    flex-direction: column;
    gap:20px;
  }
  .villa1{
    width:100%;
}
  .villa1-inner{
    display: flex;
    gap:20px;
    padding:0 20px;
    min-width:100%;
  }
.villa-photo{
  width:100%;
}
.villa-data{
  width:100%;
  justify-content: start;
}
.property{
  padding:50px 0;
}
}
@media(max-width:675px){
.villa1-inner{
    flex-direction: column;
  }
}
@media (max-width:426px){
  .content p{
    font-size: 1rem;
  }
.content .content-p2,.content .content-p3{
    margin-top: 5px;
  }
  .villas{
    margin-top: 20px;
  }
}

/* ++++++++++++++++++++++++++++++++ */
.map{
  width:100%;
  height:100vh;
}
.map-image{
  height:70%;
  position: relative;
  width:100%;
}
.map-image img{
  width: 100%;
  height:100%;
  object-fit: cover;
  filter: blur(5px);
}
.map-data{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50% ,-40%);
  flex-direction: column;
  align-items: center;
  height:100%;
}
.map-data > span{
  border-left: 2px solid var(--orange);
  font-size: 0.9rem;
  font-weight: 600;
  color:var(--orange);
  padding-left: 5px;
}
.map-data p{
  font-size: 2rem;
  font-weight: 800;
  color:var(--white);
}
.map-data .map-p1{
  margin-top: 20px;
}
.map-data-1{
  margin-top: 50px;
  width:100%;
  gap:50px;
  height:90%;
}

.map-1{
  width:50%;
  height:100%;
  padding:0 10px;
}
.map-1 iframe{
  width:100%;
  border-radius:10px;
  height:65%;
}
.contact{
  margin-top: 50px;
  flex-direction: row;
  gap:30px;
  height:20%;
  justify-content: space-evenly;
}
.contact-1{
  width:45%;
  padding:20px;
  padding-right: 30px;
  background-color: var(--white);
  box-shadow: 0 0 12px var(--black);
  border-radius: 5px;
  align-items: center;
  gap:15px;
}
.map-1 .contact-1 span{
  font-size: 2rem;
  width:20%;
}
.map-1 .contact-1 p{
  font-weight: normal;
  color:var(--black);
  font-size: 1rem;
}
.form{
  width:50%;
  /* height:100%; */
}
.form form{
  flex-direction: column;
  width:100%;
  border-radius: 10px;
  box-shadow: 0 0 12px var(--black);
  background-color: #fff;
  /* height:100%;/ */
  padding:15px 50px;
  justify-content: space-between;
}
form label{
  margin:10px 0;
  margin-top: 20px;
}
form input{
  border-radius:20px;
  padding:7px 20px;
  background-color:#fff9f9;
  border:none;
}

form textarea{
  border:none;
  padding:5px;
  background-color:#fff9f9;
}
.form-div{
  height:15%;
  padding:5px 0;
  flex-direction: column;
}
form span{
  background-color: var(--black);
  border-radius: 30px;
  width: fit-content;
  color: var(--white);
  padding:15px 40px;
  text-align: center;
  cursor:pointer;
  margin-top: 15px;
  transition: all 1s;
}
form span:hover{
  background-color: var(--orange);
}
/* @media(max-width:1281px){
  form span{
    width:50%;
  }
} */
@media(max-width:1400px){
  .map-data-1{
    height:auto;
  }
}
@media(max-width:1024px){
  .map-image {
    height:42%;
  }
  .contact-1{
    padding:20px 10px;
  }
  .form form{
    padding:10px 50px;
  }
.villa-data  .details-1 ,.villa-data .details-2{
    font-size: 0.9rem;
    gap:10px;
  }
  .map-1 .contact{
    margin-top: 15px;
  }
}
@media (max-width:874px){
  .map-data-1{
    flex-direction: column;
    gap:20px;
  }
   .map{
    min-height:90vh;
  }
  .map-1,.form{
    width:100%;
  }
}

@media (max-width:768px){
  .map{
    min-height:150vh;
  }
}
@media(max-width:426px){
  .contact-1{
    padding-left:5px;
    padding-right:5px;
  }
.map .contact-1 span{
  font-size:1.5rem;
}
.map .contact-1 p{
  font-size: 0.8rem;
}
.map-data >p {
  font-size:1rem;
}
.map{
  min-height:135vh;
}
}

/* @media (max-width:375px){
  .map{
    height:82vh;
  }
  .form{
    height:auto;
  }
} */
@media (max-width:380px){
  form span{
    padding:15px 20px;
  }
}
@media (max-width:500px) and (min-height:800px){
  .map{
    min-height:90vh;
  }
}
@media (min-width:768px) and (max-width:874px){
  .map{
    min-height:145vh;
  }
}
/* +++++++++++++++++footer++++++++++++++++++ */
footer{
  width:100%;
  margin-top: 50px;
  background-color:var(--black);
  color: var(--white);
  font-size: 0.8rem;
}
footer p{
  padding:25px;
text-align: center;
}
@media(max-width:1024px){
  footer{
    margin-top: 30px;
  }
}

/* +++++++++++++++++++++++++ */
@media (max-width: 1024px) {
  .container {
    max-width: 904px;
    padding:0 10px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
}
@media (max-width: 425px) {
  .container {
    max-width: 425px;
    padding: 0 10px;
  }
}
@media (max-width: 376px) {
  .container {
    max-width: 375px;
    padding: 0 10px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }
}
